In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
train = pd.read_csv('Train.csv')
train.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [3]:
train = train.values

In [4]:
sample = pd.read_csv('Sample_Submission.csv')
sample.head()

   Id  target
0   0       0
1   1       1
2   2       2
3   3       3
4   4       4

In [5]:
reg = linear_model.LinearRegression()

In [6]:
reg.fit(train[:, :-1], train[:, -1])

LinearRegression()

In [7]:
test = pd.read_csv('Test.csv')
test.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [8]:
reg.fit?

In [9]:
test = test.values

In [10]:
res = reg.predict(test)
print(train.shape, test.shape, res.shape)

(1600, 6) (400, 5) (400,)

In [13]:
DF = pd.DataFrame(res)
DF

              0
0    114.583689
1    118.012815
2    -21.739852
3    -43.936899
4    -95.914898
..          ...
395  -81.989000
396 -186.032535
397  125.292336
398   65.369841
399   57.059691

[400 rows x 1 columns]

In [20]:
DF.to_csv("data1.csv")

In [21]:
out = pd.read_csv('data1.csv')
out.columns=['Id', 'target']

In [22]:
out.to_csv("data1.csv", index=False)

In [23]:
out = pd.read_csv('data1.csv')
out.head()

   Id      target
0   0  114.583689
1   1  118.012815
2   2  -21.739852
3   3  -43.936899
4   4  -95.914898